body {
    font-family: 'Raleway', sans-serif;
  }
  .bg-dark {
    background-color: #105469 !important;
  }
  
  h1, h2 , h3,label, footer{
    color: #105469;
    font-weight: 700;
    position: relative; 
  }
  
  .container .col{
    height: 200px;
  }
  
  
  #formulario{
  margin-left: auto;
  margin-right: auto;
  width: 8em
  }
  
  .footer-cambios{
  height: 50px;
  background-color: #105469;
  }
  .blanco{
  color: #ffffffff;
  }
  
  ul.navega li {
  display: inline;
  }
  
  .card-title{
  color: #105469;
  font-weight: 700;
  }
  
  .border-primary{
  color: #105469 !important;
  }
  
  .margen-bottom{
  margin-bottom: 1em !important;
  }
  .margen-top{
  margin-top: 1em !important;
  }
  
  .boton-siguiente{
  width: 8em
  }
  
  .boton-otro{
    width: 4em
    }