:root { 
    --Primario:#212529;
    --Secundario:#ad2c98;
    --GrisClaro:#B0B3BC;
    --GrisOscuro:#343539;
    --Blanco:#ffffff;
}

h2{
    text-align: center;
}


.formulario {
  background: var(--GrisOscuro);
  padding: 2rem;
  border-radius: 1rem;
  width: min(900px, 100%);
  margin: 2rem auto;
  color: var(--Secundario);
}

@media (min-width: 768px) {
  .contenedor-campos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .campo:last-child {
    grid-column: 1 / 3;
  }
}

.campo {
    margin-bottom: 1rem;
}

.campo label {
    color:var(--Blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.campo textarea {
    height: 20rem;
}

.input-text,
textarea,
select {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: .5rem;
  background-color: #2a2a2a;
  color: var(--Blanco);
}

.boton{
    background-color: var(--Secundario);
    color: var(--Blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase; /*se usa para transformar el texto*/
    font-weight: bold;
    border-radius: 0.5rem;
    width: 90%;
    text-align: center;
    border: none;
    }

    @media (min-width: 768px ){
        .boton {
            width: auto; /*con esto lo resetea*/
        }
    }
.alinear-derecha{
    display: flex;
    justify-content: flex-end;
}
    
.boton:hover{
    cursor:pointer;
}

.error {
  color: #ff4d4f;
  font-size: 0.9rem;
  margin-top: 5px;
}